{% extends "register/base.html" %}

{% block content %}
{%load crispy_forms_tags%}
<h5>note: incharge must be manager &</h5>
<h5>select incharge field only if ur employee</h5>
<form action="" method="post">
{% csrf_token %} <!--to encrypte data-->
    {{form.incharge|as_crispy_field}}
    {{form.user|as_crispy_field}}
    {{form.name|as_crispy_field}}
    {{form.empCode|as_crispy_field}}
    {{form.phoneNo|as_crispy_field}}
    {{form.position|as_crispy_field}}
    <br>
    <button class="button",type="submit">submit</button>
</form>
<div>
    {%for message in messages%}
    <h4>{{message}}</h4>
    {%endfor%}
</div>

{%endblock%}